.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0px;
  z-index: 20;
  width: 100%;
  min-height: 50px;
  border: 1px solid black;
  padding-left: 10px;
}

body {
  padding-top: 50px;
}

.navbar div {
  flex: 0 0 50px;
  margin: auto;
  border: 1px solid red;

}


@media (min-width: 770px) {
  .navbar {
    flex-direction: row;
    padding-left: 0;
  }

  body {
    padding-top: 160px;
  }
}
