/* You can add global styles to this file, and also import other style files
Colors
Dark Blue #354775 rgba(53,71,117,1)
Light blue #D3E6F0 rgba(211,230,240,1)
White blue #EBF3F8 rgba(245,243,248,1)
Saffron #F6AE2D rgba(246,174,45,1)
Dark Green #2B4C31 rgba(43,76,49,1)

*/

.resume-display {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgba(211,230,240,1);
  box-shadow: 5px 5px 2px grey;
  max-width: 850px;
}

ul {
  list-style: initial;
}

.resume-header h2 {
  display: inline-block;
}
.resume-header h2:first-child {
  margin-right: 50%;
}

.resume-body {
  position: relative;
}

.resume-body h2,p,ul{
  display: inline-block;
  vertical-align: top;
}

.resume-body h2 {
  width: 10%;
  margin-right: 20%;
  border-top: 2px solid #F6AE2D;
  padding-top: 10px;
}

.resume-body > p {
  width: 60%;
  border-top: 2px solid #F6AE2D;
  padding-top: 10px;
}

.resume-body > ul {
  width: 60%;
  border-top: 2px solid #F6AE2D;
  padding-top: 10px;
}

.highlight:hover{
  color: rgba(246,174,45,1);
}
