<app-navbar></app-navbar>
<div class="container">
  <h1>Resume</h1>
  <div class="resume-display">
    <div class="resume-header">
      <h2>Zach Swanson</h2>
      <p>Web Developer</p>
    </div>
    <div class="resume-body">
      <h2>Skillset</h2>
      <ul>
        <li><em>Javascript</em> -  Front end apps with Angular2, D3 data visualization, AJAX, and jQuery.</li>
        <li><em>PHP</em>- Server-side MVC apps with Silex/Twig, Content Management with Drupal(7 and 8)</li>
        <li><em>Data and Support</em> - mySQL and Firebase JSON databases, dependency and task management with Gulp, composer and npm.</li>
        <li><em>Teamwork</em> - experienced in conflict management, active listening, and generally being fun to work with.</li>
        <li><em>Adaptability</em>- quick and adaptive problem solver, accustomed to staying calm under pressure and learning on the fly.</li>
      </ul>
    </div>
    <div class="resume-body">
      <h2>Selected Expereince</h2>
      <ul>
        <li><em>Epicodus / Aspiring Developer / 2017</em>
          <ul>
            <li>Web Dev bootcamp focused on self-sufficient learning.  Portland, OR</li>
            <li>Studied full stack development through pair programming and independent projects.</li>
          </ul>
        </li>
        <li><em>Trupp HR / HR Business Partner / 2015-2016</em>
          <ul>
            <li>Small business human resource consultancy.  Portland, OR</li>
            <li>Served as HR support for clients across multiple industries.  Helped executives create policy, address conflict, and manage the most challenging aspects of their teams.</li>
          </ul>
        </li>
        <li><em>New Season Market / Multiple Positions / 2007-2015</em>
          <ul>
            <li>Values-driven neighborhood grocer.  Portland, OR</li>
            <li>Supported growth and team engagement at high volume location with over 200 staff.  Held roles of HR asst. Manager, Service Manager, and various retail positions.</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="resume-body">
      <h2>Education</h2>
      <p><em>Portland State University</em> / B.S. Economics / 2013</p>
    </div>
  </div>  
</div>
