/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Merriweather', serif;
  background-color: #D3E6F0;
}

p,ul {
  line-height: 1.5em;
}

.container {
  margin-top: 160px;
  margin-left: 20px;
  margin-right: 20px;
}



@media (min-width: 770px) {
  .navbar {
    flex-direction: row;
    padding-left: 0;
  }

  .container {
    margin-top: 60px;
  }

}
