.container {
  margin-top: 0px;
}

.logo-home {
  font-size: 4em;
  text-align: center;
  height: 4em;
  background-color: #354775;
  border-radius: 5px;
}


.logo-home div {
  border: 10px solid #D3E6F0;
  padding: 30px;
  display: inline-block;
  position: relative;
  top: 25%;
}

.logo-home span{
  margin: 0;
  padding: 0;
  color: #D3E6F0;
}

.logo-home span:hover{
  color: #F6AE2D;
}

.home-nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

[class *="-link"] {
  display: flex;
  border: 1px solid red;
}

@media (min-width: 770px) {
  .navbar {
    flex-direction: row;
    padding-left: 0;
  }

  .logo-home {
    font-size: 6em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

}
