.container {
  margin-top: 0px;
}

.logo-home {
  text-align: center;
  background-color: #354775;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-home h1 {
  font-size: 4em;
}

.logo {
  border: 10px solid #D3E6F0;
  padding: 30px;
  display: inline-block;
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}


.logo span{
  color: #D3E6F0;
}

.logo span:hover{
  color: #F6AE2D;
}

.home-nav {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.full-name:hover {
  color: #F6AE2D;
}

[class *="-link"] {
  display: flex;
  color: #D3E6F0;
  padding: 5px;
  border: 3px solid #D3E6F0;
}

[class *="-link"]:hover {
  color: #F6AE2D;
  border: 3px solid #F6AE2D;
}

.about-home {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #D3E6F0;
  border-radius: 3px;
}

.about-home p {
  padding: 15px;
  text-align: left;
}

@media (min-width: 770px) {

  .logo-home {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .home-nav {
    margin-left: 25%;
    margin-right: 25%;
  }

}
