<div class="container">
  <div class="logo-home" routerLink=''>
    <div class="logo">
      <h1><span class="logo-letter">Z</span><span class="logo-letter">j</span><span class="logo-letter">S</span></h1>
    </div>
    <div class="home-nav">
      <div class="resume-home-link" routerLink='resume'>
        <h4>Resume</h4>
      </div>
      <div class="projects-home-link" routerLink='projects'>
        <h4>Projects</h4>
      </div>
      <div class="contact-home-link" routerLink='contact'>
        <h4>Contact</h4>
      </div>
    </div>
      <div class="about-home">
      <p>Hi!  I’m <span class="full-name">Zach j. Swanson</span> and I’m a web developer.  I’ve spent most of my career helping to make work better for others through HR and operations management.  I made the switch to working with tech so I could combine those skills with my love of puzzles and problem solving.</p>
      <p> I love web technology’s potential to make complex systems accessible.  Please enjoy looking through my work and feel free to get in touch if you have questions or would like to collaborate.  I’m looking for projects focused on user interactivity, data interpretation, and parsing of complex information.</p>
    </div>
  </div>
</div>
